<header>
    <div class="header-section" id="left-side">
        <a href="/home">
            <img id="header-logo" src="/resources/images/goobex_icon.png" alt="logo">
        </a>
    </div>

    <div class="header-section" id="center-side">
        center-side
    </div>

    <div class="header-section" id="right-side">
        right-side
    </div>
</header>