header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 48px;
    margin-bottom: 16px;

    background-color: #241d44;
}

header .header-section {
    display: flex;
    flex-direction: row;
}

header #left-side {

}

header #center-side {

}

header #right-side {

}

#header-logo {
    width: 38px;
    height: 38px;
    margin-left: 16px;
}